/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BEGIN SITE STYLES */
/* css magic with screen size selectors? see: http://lessframework.com/ */

body {
	font-size:10pt;
	background-color:#eee;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#wrapper/*, #styleNav*/ {
	width:800px;
	text-align:left;
	margin:50px auto;
	border:1px solid #c8c8c8;
	background-color:white;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow:0 0 40px #c8c8c8;
}
header {
	height:100px;
	background-color:#eee;
	padding:10px;
	margin: 5px 5px 0 5px;
	text-align: center;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
}
#body {
	
}
#left {
	float:left;
	width: 300px;
}
#right {
	float:right;
	width: 500px;
}
footer	{
	height:50px;
	background-color:#eee;
	padding:10px;
	margin:5px;
	clear:both;
	border-radius:0 0 10px 10px;
	text-align: center;
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
}

/* content styles */
p { margin-bottom: 1em }
p:last-child { margin-bottom: 0 }

/* editor nav styles */
#editorNav {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
}
#editorNav ul{
	border: 1px solid black;
	padding: 5px;
	border-radius: 6px;
}
#editorNav ul li {
	display: inline;
	/*margin-left: 10px; With the links being icons, this is not needed*/
}
#editorNav ul li:first-child {
	margin-left: 0;
}
#editorNav a:link, #editorNav a:visited {
	text-decoration: none;
}
#editorNav a:hover, #editorNav a:active {
	text-decoration: underline;
}

.ui-icon {
	display: inline-block !important; /* SHAME.CSS this is to fix the shuffle icon in the editor bar */
}

/* EDITER styles */
#right .block , #right .block-edit {margin:5px;padding:10px;background-color:#eee;}
#left .block , #left .block-edit {margin:5px 0 5px 5px;padding:10px;background-color:#eee;}
#left .block-edit {margin-right: 5px;} /* editer fix*/ 
.block-state-highlight {border:2px dashed #aaa;margin:5px;padding:10px;text-align:center;color:#777;}
.sortable {background-color:#fff;margin:5px;border:2px dashed #aaaaaa;}
.controls {float:right;margin:0 0 4px 4px;}
.controls span {float:left;}
.add-new {text-align:center;}
.loading {width:16px;height:16px;background-image:url(/images/ajax-loader.gif); }
.emph { color: #C00000; }


/* fix dialog size */
.ui-dialog{font-size: 80%;}
