body {
	margin:0;
	padding:0;
	text-align:center;
	font-size:10pt;
	background-color:#eee;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* css magic with screen size selectors? */

p {
	margin: 0px;
}
#wrapper, #styleNav {
	width:800px;
	text-align:left;
	margin:50px auto;
	border:1px solid gray;
	background-color:white;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow:0 0 40px gray;
}
#header {
	height:100px;
	background:grey;
	padding:10px;
	margin: 5px 5px 0 5px;
	text-align: center;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
}
#styleNav ul {
	padding:10px;
	margin: 5px;
	height: 15px;
	background:grey;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#styleNav ul li {
	list-style: none;
	float: left;
	padding-right: 10px;
}
#body {
	
}
#left {
	float:left;
	width: 300px;
}
#right {
	float:right;
	width: 500px;
}
#footer	{
	height:50px;
	background:grey;
	padding:10px;
	margin:5px;
	clear:both;
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
}

#right .block , #right .block-edit {margin:5px;padding:10px;background:grey;}
#left .block , #left .block-edit {margin:5px 0 5px 5px;padding:10px;background:grey;}
#left .block-edit {margin-right: 5px;} /* editer fix*/ 
.block-state-highlight {border:2px dashed grey;margin:5px;padding:10px;text-align:center;color:grey;}
.sortable {background:#EEEEEE;margin:5px;border:2px dashed grey;}
.controls {float:right;margin:0 0 4px 4px;}
.add-new {text-align:center;}
.loading {width:16px;height:16px;background-image:url(/images/ajax-loader.gif); }
.emph { color: #C00000; }


/* fix dialog size */
.ui-dialog{font-size: 80%;}

/* editor specific */
.block-edit.text div.truncated { max-height:150px; overflow:hidden;}
.block-edit.text span.continued { float:right; position:relative; top:-10px; right:-5px;}

 /* location select so sizes can be explizit */
/*
#left .mceEditor > table {
    width:247px !important;
}
#right .mceEditor > table {
    width:447px !important;
}*/