ErrorDocument 404 /404

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME}  !-d
#RewriteCond %{REQUEST_FILENAME}  !-f
#RewriteRule ^.+\.om(\?.+)?$ /handler.php [T=application/x-httpd-php,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME}  !-f
#RewriteCond %{REQUEST_URI} !/handler.php$
RewriteRule $ /handler.php [L]

Options -Indexes
