body {
	font-family: 'Just Me Again Down Here', cursive;
	background-image: url("/dynamic/tay/sky.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #04a9bd;
}
#wrapper, #styleNav {

	margin:50px auto;
	border:1px solid #7d0057;
	background-color: #56026e;
	box-shadow:0 0 40px #8f04a8;
	-moz-box-shadow: 0 0 40px #8f04a8;
	-wenkit-box-shadow: 0 0 40px #8f04a8;
	color: #005081;
}
#header {
	background:#ffa500;
}
#header h1{font-family: 'Great Vibes', cursive;
	font-size: 3em;
	margin-bottom: 0px;
}
#footer	{
	background:#ffa500;
}
#right .block , #right .block-edit, #styleNav ul {background:#c7e2db;}
#left .block , #left .block-edit {background:#c7e2db;}
.sortable {border:2px dashed #c7e2db;}