#ErrorDocument 404 /404
DirectoryIndex /handler.php # does this work?

RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/user.php$

RewriteRule $ /handler.php [L]

Options -Indexes
