body {
    background: #AB3E04 url("/dynamic/dev/sunset.jpg") center top  no-repeat fixed;
}

p {
	margin: 0px;
}
#wrapper, #styleNav {
	background:rgba(255, 36, 0, .5);
	box-shadow:0 0 40px #FF2400;
	border: none;
}
#header {
	background:rgba(255, 230, 0, .3);
}
#footer	{
	background:rgba(255, 230, 0, .3);
	
}

#left .block, #left .block-edit,
#right .block, #right .block-edit, #styleNav  ul{
	background: rgba(255, 230, 0, .3);
}